<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler.log4net"/>
  </configSections>

  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="Logging">
      <level value="ALL"/>
    </logger>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log-file.txt"/>
      <appendeToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <DatePattern value="yyyy.MM.dd"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level [%logger:%L][%property{NPC}]-%message%newline"/>
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <add key="WorkPath" value="C:\\XView" />
    <add key="WorkPathImage" value="C:\\XView\\Pictures" />
    <add key="WorkPathVideo" value="C:\\XView\\Videos" />
    <add key="WorkPathConfig" value="C:\\XView\\Settings" />
    <!--相机类型，1：2.0，2：3.0-->
    <add key="CameraType" value="2"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


</configuration>
